---
const {title} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Pokedex</title>
	</head>
	<body class="justify-center bg-violet-500">
        <div class="w-screen flex justify-center items-center">
		<img src={title}/>
        </div>
        
        <slot />
	</body>
</html>
